{{ define "generator" }}
package inMemory

import (
	"context"

	"{{.PROJECT_PATH}}/{{.PROJECT_NAME}}/internal/core/domain"
)

type TicketRepository struct {
	tickets []domain.Ticket
}

func NewTicketRepository() *TicketRepository {
  return &TicketRepository{
		tickets: []domain.Ticket{domain.Ticket{Id: "123"}},
	}
}

func (repo TicketRepository) FindAll(logCtx context.Context) ([]domain.Ticket, error) {
	return repo.tickets, nil
}
{{end}}
